<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kewell.study.myuiproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="UI界面项目示例"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".spinner.SpinnerActivity"  android:label="spinner三级联动示例"/>
        <activity android:name=".seekbar.SeekbarActivity" android:label="SeekBar示例"/>
        <activity android:name=".gridview.GridViewActivity" android:label="GridView示例"/>
        <activity android:name=".listview.ListViewActivity" android:label="list示例一"/>
        <activity android:name=".listview.ListViewActivity2" android:label="list示例二"/>
        <activity android:name=".tabhost.TabHostActivity" android:label="页卡效果示例"/>
        <activity android:name=".tabhost.TabHostGameActivity" android:label="我的游戏"/>
        <activity android:name=".tabhost.TabHostMusicActivity" android:label="我的音乐"/>
        <activity android:name=".tabhost.TabHostSportsActivity" android:label="我的运动"/>
        <activity android:name=".login.LoginActivity" android:label="登录示例"/>
        <activity android:name=".imageswitcher.ImageSwitcherActivity" android:label="图片滑动示例"/>
        <activity android:name=".weixin.WeiXinActivity" android:theme="@android:style/Theme.NoTitleBar"/>
    </application>

</manifest>
